<div class="max-w-xl mx-auto py-12 text-center" id="cv_status"
     data-controller="poller" data-poller-url-value="<%= status_candidate_onboarding_path %>">
  <%= render "cv_status", document: document %>
</div>
